body{
    font-size: small;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

  #country-details {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem 0;
  }
.image-container {
  margin-right: 4rem;
  height: 16rem;
  width: 18rem;
}

.detail-container{
  width:  50%;
  height: 13rem;
  
}

.text-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-between  ;
  align-content: space-between;
  height: 11rem;
}
.text-container h1{
  font-size: large;
  font-weight: 800;
  margin-bottom: 1rem;
}
.text-container p{
  font-size: 0.8rem;
  font-weight: 550;
  line-height: 1.5rem;
}
.text-container span{
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 0.3rem;
}

.border-countries-container {
  margin-top: 1rem;
  display: flex;
  align-items:center ;
  justify-content: start;
}
.border-countries-container p{
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 1rem;
  
}

.border-countries-wrapper {
  display: flex;
  flex-flow:row wrap;
  justify-content: start;
  align-items: center;
}
.country-borders-btn{
  border: none;
  font-size: 0.5rem;
  margin-right: 1rem;
  border: 1px solid rgb(0,0,0,0.1);
  padding: 0.1rem 0.4rem;
} 
