*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: small;
}
.text-container h2{
    font-family:sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    margin:20px ;
}
.text-container p{
    font-size: 0.7rem;
    line-height: 0.4rem;
    margin:20px ;
}
.text-container p span{
    font-size: 0.6rem;
    font-weight: 300;
}

.card-img{
    height: 160px;
    width: 100%;
    margin-bottom: 20px;
}

.select-region {
   font-size: 0.7rem;
   font-family: sans-serif;
   padding: 0.3rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}